<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Кормление</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">


            <section class="vh-30" style="background-color: #508bfc;">
                <div class="container py-5 h-100">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

            <form class="row gy-2 gx-3 align-items-center" method="post">
                <div class="col-auto">
                    <div class="form-outline">
                        <input type="text" id="amountOfFood" name="amountOfFood" class="form-control" />
                        <label class="form-label" for="amountOfFood">Количество корма</label>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="form-outline">
                        <input type="date"  id="datetime" name="datetime"  class="form-control">
                        <label for="datetime">Время кормления</label>
                    </div>
                </div>


                <div class="col-auto">
                    <div class="form-outline">
                        <select class="form-select" aria-label="Default select example" name="idPopulation">
                            {{range .Populations}}
                            <option value='{{ .Id }}' >{{ .Name }}</option>
                            {{end}}
                        </select>

                    </div>
                </div>

                <div class="col-auto">
                    <div class="form-outline">
                        <input type="text"  id="food" name="food"  class="form-control">
                        <label for="datetime">Корм</label>
                    </div>
                </div>

                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </form>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Количество корма</th>
                    <th scope="col">Время кормления</th>
                    <th scope="col">Популяция</th>
                    <th scope="col">Корм</th>
                </tr>
                </thead>
                <tbody>
                {{range .FoodPopulations}}
                <tr>
                    <td>{{ .AmountOfFood }}</td>
                    <td>{{ .Datetime }}</td>
                    <td>{{ .IdPopulation }}</td>
                    <td>{{ .Food }}</td>
                    <td><button type="submit" class="btn btn-danger"> Удалить </button> </td>
                </tr>
                {{end}}
                </tbody>
            </table>

        </div>
    </div>
</div>





</body>
</html>