<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Таблица датчиков</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">


            <section class="vh-30" style="background-color: #508bfc;">
                <div class="container py-5 h-100">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

            <form class="row gy-2 gx-3 align-items-center" method="post">
                <div class="col-auto">
                    <div class="form-outline">
                        <input type="text" id="name" name="name" class="form-control" />
                        <label class="form-label" for="name">Название</label>
                    </div>
                </div>


                <div class="col-auto">
                    <div class="form-outline">
                        <select class="form-select" aria-label="Default select example" name="idSystems">
                            {{range .Systems}}
                            <option value='{{ .Id }}' >{{ .Name }}</option>
                            {{end}}
                        </select>

                </div>
                </div>



                <div class="col-auto">
                    <div class="form-outline">
                        <input type="text" id="location" name="location" class="form-control" />
                        <label class="form-label" for="location">Расположение</label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-outline">
                        <input type="number" step="any" id="minOperatingCondition" name="minOperatingCondition" class="form-control" />
                        <label class="form-label" for="minOperatingCondition">Минимальное рабочее значение</label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-outline">
                        <input type="number" step="any" id="maxOperatingCondition" name="maxOperatingCondition" class="form-control" />
                        <label class="form-label" for="maxOperatingCondition">Максимальное рабочее значение</label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-outline">
                        <input type="number" step="any" id="minCriticalCondition" name="minCriticalCondition" class="form-control" />
                        <label class="form-label" for="minCriticalCondition">Минимальное критическое значение</label>
                    </div>
                </div>                <div class="col-auto">
                <div class="form-outline">
                    <input type="number" step="any" id="maxCriticalCondition" name="maxCriticalCondition" class="form-control" />
                    <label class="form-label" for="maxCriticalCondition">Максимальное критическое значение</label>
                </div>
            </div>
                <div class="col-auto">
                    <div class="form-outline">
                        <input type="number" step="any" id="minDeath" name="minDeath" class="form-control" />
                        <label class="form-label" for="minDeath">Min death</label>
                    </div>
                </div>
                <div class="col-auto">
                    <div class="form-outline">
                        <input type="number" step="any" id="maxDeath" name="maxDeath" class="form-control" />
                        <label class="form-label" for="maxDeath">Max death</label>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="form-outline">
                        <input type="text" id="unitsOfMeasurement" name="unitsOfMeasurement" class="form-control" />
                        <label class="form-label" for="unitsOfMeasurement">Единицы измерения</label>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="form-outline">
                        <input type="text" id="frequency" name="frequency" class="form-control" />
                        <label class="form-label" for="frequency">Частота измерений</label>
                    </div>
                </div>



                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </form>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Система</th>
                    <th scope="col">Расположение</th>
                    <th scope="col">Минимальное рабочее значение</th>
                    <th scope="col">Максимальное рабочее значение</th>
                    <th scope="col">Минимальное критическое значение</th>
                    <th scope="col">Максимальное критическое значение</th>
                    <th scope="col">Min death</th>
                    <th scope="col">Max death</th>
                    <th scope="col">Единицы измерения</th>
                    <th scope="col">Частота измерений</th>
                </tr>
                </thead>
                <tbody>
                {{range .Sensors}}
                <tr>
                    <td>{{ .Name }}</td>
                    <td> </td>
                    <td>{{ .Location }}</td>
                    <td>{{ .MinOperatingCondition }}</td>
                    <td>{{ .MaxOperatingCondition }}</td>
                    <td>{{ .MinCriticalCondition }}</td>
                    <td>{{ .MaxCriticalCondition }}</td>
                    <td>{{ .MinDeath }}</td>
                    <td>{{ .MaxDeath }}</td>
                    <td>{{ .UnitsOfMeasurement }}</td>
                    <td>{{ .Frequency }}</td>
                    <td><button type="submit" class="btn btn-danger"> Удалить </button> </td>
                </tr>
                {{end}}
                </tbody>
            </table>

        </div>
    </div>
</div>





</body>
</html>