<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Таблица заданий</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm">


            <section class="vh-30" style="background-color: #508bfc;">
                <div class="container py-5 h-100">
                    <div class="card shadow-2-strong" style="border-radius: 1rem;">
                        <div class="card-body p-5 text-center">

            <form class="row gy-2 gx-3 align-items-center" method="post">
                <div class="col-auto">
                    <div class="form-outline">
                        <input type="text" id="name" name="name" class="form-control" />
                        <label class="form-label" for="name">Название</label>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="form-outline">
                        <textarea id="description" name="description" class="form-control" rows="5"></textarea>
                        <label class="form-label" for="description">Описание</label>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="form-outline">
                        <select class="form-select" aria-label="Default select example" name="idUser">
                            {{range .Users}}
                            <option value='{{ .Id }}' >{{ .Email }}</option>
                            {{end}}
                        </select>

                    </div>
                </div>

                <div class="col-auto">
                    <div class="form-outline">
                        <input type="date"  id="startDate" name="startDate"  class="form-control">
                        <label for="startDate">Введите дату начала:</label>
                    </div>
                </div>

                <div class="col-auto">
                    <div class="form-outline">
                        <input type="date"  id="finishDate" name="finishDate"  class="form-control">
                        <label for="finishDate">Введите дату окончания:</label>
                    </div>
                </div>


                <div class="col-auto">
                    <button type="submit" class="btn btn-primary">Добавить</button>
                </div>
            </form>
                        </div>
                    </div>
                </div>
            </section>


        </div>
    </div>
    <div class="row">
        <div class="col-sm">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Cотрудник</th>
                    <th scope="col">Название</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Дата начала</th>
                    <th scope="col">Дата окончания</th>
                    <th scope="col">Статус</th>

                </tr>
                </thead>
                <tbody>
                {{range .Tasks}}
                <tr>
                    <td> </td>
                    <td>{{ .Name }}</td>
                    <td>{{ .Description }}</td>
                    <td>{{ .StartDate }}</td>
                    <td>{{ .FinishDate }}</td>
                    <td>{{ .Status }}</td>
                    <td><button type="submit" class="btn btn-danger"> Удалить </button> </td>
                </tr>
                {{end}}
                </tbody>
            </table>

        </div>
    </div>
</div>





</body>
</html>