<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Зарегистрировать пользователя</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>


    <style type="text/css">
        /* Split the screen in half */
        .splitL {
            height: 100%;
            width: 50%;
            position: fixed;
            z-index: 1;
            top: 0;
            overflow-x: hidden;
            padding-top: 20px;
        }
        .splitR {
            height: 100%;
            width: 50%;
            position: fixed;
            z-index: 1;
            top: 0;
            overflow-x: hidden;
            padding-top: 20px;
        }

        /* Control the left side */
        .left {
            left: 0;
           /* background-color: #DCDCDC*/
        }

        /* Control the right side */
        .right {
            right: 0;
            background-color: #508bfc;
        }

        /* If you want the content centered horizontally and vertically */
        .centeredL {
            position: absolute;
            top: 200px;
            left: 150px;
            right: 150px;
            text-align: center;
            /*position: absolute;
            top: 165px;
            left: 115px;
            right: 115px;
            text-align: center;
            border: solid 35px #DCDCDC;*/
        }
        .centeredR {
            position: absolute;
            top: 200px;
            left: 90px;
            right: 90px;
            text-align: center;
        }

        /* Style the image inside the centered container, if needed */
        .centeredL img {
            width: 100%;
        }
        .centeredR img {
            width: 100%;
        }

    </style>


</head>
<body>
<div class="splitL left">
    <div>

        <table class="table table-striped">
            <thead>
            <tr>
                <th scope="col">Имя</th>
                <th scope="col">Фамилия</th>
                <th scope="col">Отчество</th>
                <th scope="col">Эл. почта</th>
                <th scope="col">Роль</th>

            </tr>
            </thead>
            <tbody>
            {{range .Users}}
            <tr>
                <td>{{ .Name }}</td>
                <td>{{ .LastName }}</td>
                <td>{{ .MiddleName }}</td>
                <td>{{ .Email }}</td>
                <td>
                    {{if eq .IdRole 3}} Начальник смены {{else}} {{if eq .IdRole 2}} Администратор {{else}} Пользователь {{end}} {{end}}
                </td>
                <td><button type="submit" class="btn btn-danger"> Удалить </button> </td>
            </tr>
            {{end}}
            </tbody>
        </table>

    </div>
</div>

<div class="splitR right">
    <div class="centeredR">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

                <h3 class="mb-5">Создать аккаунт</h3>

                <form method="post">

                    <div class="form-outline mb-4">
                        <input type="text" id="name" name="name" class="form-control form-control-lg" />
                        <label class="form-label" for="name">Имя</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="text" id="lastName" name="lastName" class="form-control form-control-lg" />
                        <label class="form-label" for="lastName">Фамилия</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="text" id="middleName" name="middleName" class="form-control form-control-lg" />
                        <label class="form-label" for="middleName">Отчество</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="email" id="email" name="email" class="form-control form-control-lg" />
                        <label class="form-label" for="email">Email</label>
                    </div>


                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="idRole" id="1" value="1">
                        <label class="form-check-label" for="1">
                            Пользователь
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="idRole" id="2" value="2" checked>
                        <label class="form-check-label" for="2">
                            Администратор
                        </label>
                    </div>
                    <div class="form-check">
                        <input class="form-check-input" type="radio" name="idRole" id="3" value="3" checked>
                        <label class="form-check-label" for="3">
                            Начальник смены
                        </label>
                    </div>

                    <br>


                    <div class="form-outline mb-4">
                        <input type="password" id="form3Example4cg" name="password" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example4cg">Пароль</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="password" id="form3Example4cdg" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example4cdg">Повторите пароль</label>
                    </div>

                    <div class="d-flex justify-content-center">
                        <button type="submit" class="btn btn-primary btn-lg btn-block">Зарегистрировать</button>
                    </div>

                </form>
                <hr class="my-4">

            </div>
        </div>
    </div>
</div>

</body>
</html>