<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Добавить датчик</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.7.1/min/dropzone.min.js"></script>


    <style type="text/css">
        /* Split the screen in half */
        .split {
            height: 100%;
            width: 50%;
            position: fixed;
            z-index: 1;
            top: 0;
            overflow-x: hidden;
            padding-top: 20px;
        }

        /* Control the left side */
        .left {
            left: 0;
           /* background-color: #DCDCDC*/
        }

        /* Control the right side */
        .right {
            right: 0;
            background-color: #508bfc;
        }

        /* If you want the content centered horizontally and vertically */
        .centeredL {
            position: absolute;
            top: 200px;
            left: 150px;
            right: 150px;
            text-align: center;
            /*position: absolute;
            top: 165px;
            left: 115px;
            right: 115px;
            text-align: center;
            border: solid 35px #DCDCDC;*/
        }
        .centeredR {
            position: absolute;
            top: 200px;
            left: 90px;
            right: 90px;
            text-align: center;
        }

        /* Style the image inside the centered container, if needed */
        .centeredL img {
            width: 100%;
        }
        .centeredR img {
            width: 100%;
        }

    </style>


</head>
<body>
<div class="split left">
    <div class="centeredL">


        <div class="btn-group">
            <button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                Датчики
            </button>
            <ul class="dropdown-menu">
                {{range .NameSensors}}
                <li><a class="dropdown-item" href="#">{{ .Name }}</a></li>
                {{end}}
            </ul>
        </div>

        {{if .Condition}} {{ .Sensor }} {{end}}



    </div>
</div>

<div class="split right">
    <div class="centeredR">
        <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">

                <h3 class="mb-5">Добавить датчик</h3>

                <form action="" method="post">

                    <div class="form-outline mb-4">
                        <input type="text" id="form3Example1cg" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1cg">Название</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="text" id="form3Example1cg2" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1cg">Система</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="text" id="form3Example1cg3" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1cg">Расположение</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="text" id="form3Example1cg4" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1cg">Минимальное рабочее значение</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="text" id="form3Example1cg5" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1cg">Максимальное рабочее значение</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="text" id="form3Example1cg6" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1cg">Минимальное критическое значение</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="text" id="form3Example1cg7" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1cg">Максимальное критическое значение</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="text" id="form3Example1cg8" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1cg">Min death</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="text" id="form3Example1cg9" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1cg">Max death</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="text" id="form3Example1cg10" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1cg">Единицы измерения</label>
                    </div>

                    <div class="form-outline mb-4">
                        <input type="text" id="form3Example1cg11" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Example1cg">Частота измерений</label>
                    </div>


                    <button class="btn btn-primary btn-lg btn-block" type="submit">Добавить</button>

                </form>

                <hr class="my-4">

            </div>
        </div>
    </div>
</div>

</body>
</html>