<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Таблица заданий</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>


</head>
<body>
<div class="container-fluid">

    <div class="row">
        <div class="col-sm">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th scope="col">Название</th>
                    <th scope="col">Описание</th>
                    <th scope="col">Дата начала</th>
                    <th scope="col">Дата окончания</th>
                    <th scope="col">Статус</th>

                </tr>
                </thead>
                <tbody>
                {{range .Tasks}}
                <tr>
                    <td> </td>
                    <td>{{ .Description }}</td>
                    <td>{{ .StartDate }}</td>
                    <td>{{ .FinishDate }}</td>
                    <td>{{ .Status }}</td>
                </tr>
                {{end}}
                </tbody>
            </table>

        </div>
    </div>
</div>





</body>
</html>